.readhead{
    justify-content: center;
    align-items: center;
    height: 75px;
    margin-left: 15%;
    margin-top: 5%;

}
.readhead3{
    margin-left: 6%;
    margin-top: 5%;
}
.readhead5{
    margin-left: 18%;
    margin-top: 5%;
}
.readhead6{
    margin-left: 23%;
    margin-top: 5%;
}
.readhead7{
    margin-left: 25%;
    margin-top: 5%;
}
.readhead8{
    margin-left: 22%;
    margin-top: 5%;
}
.readhead9{
    margin-left: 12%;
    margin-top: 5%;
}
.readdatehead{
    justify-content: center;
    margin-left: 42%;
    color:green;
}
.image1{
    margin-left: 26%;
}